.container {
  background-color: #252525;
  width: 100%;
  display: grid;
  grid-template-columns: 200px 1fr;
  min-height: 100vh;

  color: rgb(231, 231, 231);
}

.content {
  background-color: #303030;
  border-radius: 8px;
  margin: 1rem;
  min-height: 300px;
  padding: 1rem;
}
